body {
    margin-top: 0.1cm;
    margin-left: 0.1cm;
    font-family: FreeSerif;
}

.border_t2 {
    border-top: #000000 2px solid;
}

.border_b2 {
    border-bottom: #000000 2px solid;
}

.border_l2 {
    border-left: #000000 2px solid;
}

.border_r2 {
    border-right: #000000 2px solid;
}

.border_t1 {
    border-top: #000000 1px solid;
}

.border_b1 {
    border-bottom: #000000 1px solid;
}

.border_l1 {
    border-left: #000000 1px solid;
}

.border_r1 {
    border-right: #000000 1px solid;
}


.mreport_table {
    font-size: 12.5px;
    margin: 0px;
}

.mreport_header {
    font-size: 16px;
    text-align: left;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 6px;
    margin-bottom: 0px;
    
    .border_t2();
    .border_l2();
    .border_r2();
    .border_b1();
}

.mreport_entry_name {
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 0px;

    .border_l2();
}

.mreport_entry_value {
    text-align: right;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 0px;

    .border_r2();
}

.mreport_total_expense_name {
    .mreport_entry_name();
    .border_t1();
}

.mreport_total_expense_value {
    .mreport_entry_value();
    .border_t1();
}

.mreport_savings_name {
    .mreport_entry_name();
    .border_b2();
}

.mreport_savings_value {
    .mreport_entry_value();
    .border_b2();
}

.yreport_page {
    margin-top: 1cm;
}

.yreport_title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.yreport_table {
    font-size: 12.5px;
    margin-top: 1cm;
    margin-left: auto;
    margin-right: auto;
}

.yreport_seg_break {
    height: 20px;
}

.yreport_table_header {
    font-weight: bold;
    min-width: 5em;
    padding-left: 3px;
    padding-right: 3px;
    .border_t2();
    .border_b1();
}

.yreport_entry_name {
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 0px;

    .border_l2();
}

.yreport_entry_value {
    text-align: right;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 0px;
}